.additional-goods {
  padding-bottom: 35px;
}

.additional-goods__title {
  @include title(24px, 24px);
  display: flex;
  padding: 29px 0 33px 0;

  &::before,
  &::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    height: 3px;
    margin-top: 14px;
    background-color: $green;
  }

  &::before {
    width: 0;
    margin-right: 20px;
  }

  &::after {
    width: 50px;
    margin-left: 15px;
  }
}

.additional-goods__title span {
  width: 235px;
}

.additional-goods__wrapper {
  @include container($mobile-content);
}

.additional-goods__list {
  @include reset-list;
}

.additional-goods__item {
  padding-top: 13px;
  padding-bottom: 17px;
  border-bottom: 1px solid $dark-grey;

  &:first-child {
    border-top: 1px solid $dark-grey;
  }
}

.additional-goods__caption {
  @include text(16px, 16px, $black-brown);
  @include reset-title;
  margin-bottom: 13px;
}

.additional-goods__desc {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;
  line-height: 14px;
}

.additional-goods__price {
  text-transform: uppercase;
}

.additional-goods__action {
  position: relative;
  height: 289px;
  margin-top: 39px;
  padding-top: 187px;
  text-align: center;
  background: $green url("../img/gift-photo-mobile@1x.jpg") no-repeat center top;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px 289px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 64px;
    left: calc(50% - 27.5px);
    width: 55px;
    height: 60px;
    background: url("../img/icon-gift.svg") no-repeat;
  }
}

.additional-goods__action-text {
  width: 180px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  color: $white;
}

.additional-goods__button {
  min-width: 280px;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .additional-goods {
    padding-bottom: 75px;
  }

  .additional-goods__wrapper {
    @include container($table-content);
  }

  .additional-goods__title {
    @include title(36px, 36px);
    padding-top: 66px;
    padding-bottom: 80px;
    padding-left: 0;
    border-bottom: none;

    &::before,
    &::after {
      margin-top: 23px;
    }

    &::before {
      width: 18px;
      margin-right: 38px;
    }

    &::after {
      width: 317px;
      margin-left: 27px;
    }
  }

  .additional-goods__title span {
    width: 350px;
  }

  .additional-goods__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -1px;
    padding: 25px 38px 27px 38px;
    border: 1px solid rgba($dark-grey, 0.5);
  }

  .additional-goods__caption {
    @include text(20px, 20px, $black-brown);
    width: 285px;
    margin-bottom: 25px;
  }

  .additional-goods__desc {
    margin-bottom: 22px;
    padding-top: 4px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .additional-goods__unit {
    width: 192px;
  }

  .additional-goods__price {
    width: 94px;
  }

  .additional-goods__action {
    height: 200px;
    margin-top: 70px;
    padding-top: 71px;
    padding-left: 316px;
    text-align: left;
    background: $green url("../img/gift-photo-tablet@1x.jpg") no-repeat center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px 200px;
    }

    &::before {
      top: 65px;
      left: 91px;
    }
  }

  .additional-goods__button {
    min-width: 632px;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods {
    padding-bottom: 86px;
  }

  .additional-goods__title {
    @include title(36px, 36px);
    padding-top: 74px;
    padding-bottom: 81px;

    &::before {
      width: 0;
      margin-right: 30px;
    }

    &::after {
      width: 877px;
      margin-left: 26px;
    }
  }

  .additional-goods__wrapper {
    @include container($desktop-content);
    display: flex;
    justify-content: space-between;
  }

  .additional-goods__list {
    width: 895px;
  }

  .additional-goods__action {
    width: 245px;
    height: 289px;
    margin-top: 0;
    padding-top: 185px;
    padding-left: 0;
    text-align: center;
    background: $green url("../img/gift-photo-desktop@1x.jpg") no-repeat center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px 289px;
    }

    &::before {
      left: 95px;
    }
  }

  .additional-goods__item {
    justify-content: flex-start;
    align-items: center;
    padding: 16px 0 15px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-right: none;
    border-left: none;
  }

  .additional-goods__caption {
    width: 285px;
    margin-bottom: 0;
    margin-right: 40px;
  }

  .additional-goods__desc {
    margin-bottom: 0;
    margin-right: 20px;
    text-align: left;
  }

  .additional-goods__unit {
    width: 245px;
  }

  .additional-goods__price {
    width: 60px;
  }

  .additional-goods__button {
    min-width: 245px;
  }
}
