.additional-goods {
  @include padding-mobile;
  padding-top: 30px;
  padding-bottom: 35px;
}

.additional-goods__title {
  @include title-small;
}

.additional-goods__list {
  @include default-list;
}

.additional-goods__item {
  padding-top: 13px;
  padding-bottom: 17px;
}

.additional-goods__caption {
  @include text-black-brown;
  @include default-title;
  font-size: 16px;
  line-height: 16px;
}

.additional-goods__desc {
  line-height: 14px;
}

.additional-goods__price {
  text-transform: uppercase;
}

.additional-goods__action {
  min-height: 289px;
  margin-top: 40px;
  padding-top: 187px;
  text-align: center;
  background: $green url("../../img/gift-photo-mobile@1x.jpg") no-repeat center top;
}

.additional-goods__action-text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: $white;
}
