.button {
  display: inline-block;
  font-family: $oswald;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  background-color: $green;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: #5eaa2f;
  }
}
