.catalog {
  @include container($mobile-width);
}

.catalog__list {
  @include reset-list;
}

.catalog__item {
  padding-top: 21px;
  padding-bottom: 24px;
  border: 1px solid #ededed;
  text-align: center;

  &:not(:last-child) {
    border-bottom: none;
  }

  &--all {
    padding-top: 80px;
    padding-bottom: 24px;
    background: url("../img/icon-plus-mobile.svg") no-repeat center 26px;
  }
}

.catalog__wrapper {
  @include padding-mobile;
  display: flex;
}

.catalog__link-image,
.catalog__info {
  width: 140px;
}

.catalog__link-image {
  margin-top: -20px;
}

.catalog__image {
  width: 140px;
  height: 144px;
}

.catalog__title {
  @include reset-title;
  margin-bottom: 10px;
  width: 85px;
  text-align: left;
}

.catalog__link-title,
.catalog__slogan {
  @include text(16px, 20px, $black);
}

.catalog__desc {
  font-size: 12px;
  line-height: 15px;
  border-collapse: collapse;
}

.catalog__desc tr {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.catalog__value--price {
  text-transform: uppercase;
}

.catalog__slogan,
.catalog__text {
  @include padding-mobile;
  margin: 0;
}

.catalog__slogan {
  margin-bottom: 7px;
}

.catalog__text {
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 16px;
}

.catalog__button {
  min-width: 280px;
  margin-top: -3px;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;

  &--all {
    color: #444444;
    background-color: $grey;

    &:hover,
    &:focus {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(#444444, 0.3);
      background-color: #ebebeb;
    }
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    @include container($tablet-width);
    @include padding-tablet;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    width: 324px;
    margin-top: 140px;
    padding-top: 0;
    padding-bottom: 40px;
    background-color: $grey;
    border: none;

    &--all {
      padding-top: 164px;
      padding-bottom: 40px;
      background: $white url("../img/icon-plus.svg") no-repeat center 54px;
      border: 1px solid rgba(205, 205, 205, 0.5);
    }

    &:first-child,
    &:nth-child(2) {
      margin-top: 0;
    }
  }

  .catalog__wrapper {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  .catalog__link-image,
  .catalog__info {
    width: auto;
  }

  .catalog__image {
    width: 324px;
    height: 174px;
  }

  .catalog__link-image {
    display: block;
    margin-top: -47px;
    margin-bottom: 32px;

    &--big {
      margin-top: -80px;
    }

    &--big img {
      height: 208px;
    }
  }

  .catalog__info {
    margin-bottom: 33px;
  }

  .catalog__title {
    margin: 0 auto 17px auto;
    width: 140px;
    line-height: 15px;
    text-align: center;
  }

  .catalog__link-title,
  .catalog__slogan {
    @include text(20px, 20px, $black);
  }

  .catalog__desc,
  .catalog__text {
    font-size: 16px;
  }

  .catalog__desc {
    margin: 0 auto;
  }

  .catalog__desc tr {
    width: 252px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid $dark-grey;
  }

  .catalog__slogan,
  .catalog__text {
    width: 175px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .catalog__slogan {
    margin-bottom: 26px;
  }

  .catalog__text {
    line-height: 18px;
    margin-bottom: 86px;
  }

  .catalog__button {
    min-width: 249px;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    @include container($desktop-width);
    @include padding-desktop;
  }

  .catalog__list {
    justify-content: flex-start;
  }

  .catalog__item {
    width: 245px;
    margin-bottom: 60px;

    &:not(:nth-child(4n)) {
      margin-right: 80px;
    }
  }

  .catalog__button {
    min-width: 169px;
  }
}
