.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  font-size: 16px;
  line-height: 16px;
  color: #444444;

  &:active {
    color: rgba(#444444, 0.3);
  }
}

.copyright__logo {
  margin-right: -7px;
  padding-top: 3px;

  &:hover .copyright__icon-html,
  &:focus .copyright__icon-html {
    fill: $green;
  }

  &:active .copyright__icon-html {
    fill: rgba($green, 0.3);
  }
}

.copyright__logo .copyright__icon-html {
  &:active {
    fill: rgba($green, 0.3);
  }
}

.copyright__icon-html {
  width: 41px;
  height: 41px;
  fill: #444444;
}
