.example {
  padding-top: 29px;
  padding-bottom: 36px;
  background-color: $grey;
}

.example__wrapper-desc {
  @include container($mobile-content);
  margin-bottom: 35px;
}

.example__title {
  @include title(36px, 36px);
  margin-bottom: 37px;
}

.example__desc {
  width: 270px;
  margin: 0;
  margin-bottom: 40px;
}

.example__list {
  @include reset-list;
  width: 280px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 18px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -14px;
    width: 124px;
    height: 56px;
    border: 1px solid $dark-grey;
    border-radius: 2px;
  }

  &::before {
    left: 0;
  }

  &::after {
    left: 157px;
  }
}

.example__item {
  display: flex;

  &:first-child {
    margin-bottom: 8px;
    justify-content: space-between;
  }
}

.example__value,
.example__parameter {
  margin: 0;
  text-align: center;
}

.example__value {
  @include text(24px, 24px, $black);
  width: 124px;
}

.example__parameter {
  position: relative;
  z-index: 2;
  width: 80px;
  margin-left: 21px;
  font-size: 12px;
  line-height: 12px;
  background-color: $grey;

  &:first-child {
    margin-right: 56px;
  }
}

.example__sum {
  @include text(14px, 20px, $black);
  margin: 0;
  text-align: center;
}

.example__slider {
  @include reset-list;
  margin-bottom: 28px;
  text-align: center;
}

.example__slider-item {
  &:first-child {
    position: absolute;
    left: calc(50% - 160px);
    z-index: 2;
  }

  &:last-child {
    position: relative;
    z-index: 1;
  }
}

.example__wrapper-image {
  background-color: $grey;
}

.example__slider-image {
  width: 320px;
  height: 240px;
}

.example__slider-bar {
  position: relative;
  display: flex;
  justify-content: center;
}

.example__slider-scale {
  position: absolute;
  top: 3px;
  width: 84px;
  height: 14px;
  background-color: $white;
  border: 1px solid $dark-grey;
  border-radius: 6px;
}

.example__control {
  position: absolute;
  top: 3px;
  left: 6px;
  width: 35px;
  height: 6px;
  background-color: $green;
  border-radius: 6px;
}

.example__slider-button {
  @include text(16px, 20px, $black);
  @include reset-button;

  &--before {
    margin-right: 120px;
  }
}

@media (min-width: $tablet-width) {
  .example {
    position: relative;
    padding-top: 43px;
    padding-bottom: 66px;
    background-color: transparent;
    border-top: 1px solid #e6e6e6;

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      width: 50%;
      height: 462px;
    }

    &::before {
      left: 0;
      background-color: $grey;
    }

    &::after {
      right: 0;
      background-color: #eaeaea;
    }
  }

  .example__wrapper-desc {
    @include container($table-content);
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 83px;
  }

  .example__title {
    @include title(60px, 60px);
    margin-bottom: 64px;
  }

  .example__desc {
    width: 700px;
    margin-bottom: 64px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__wrapper-info {
    display: flex;
    justify-content: space-between;
  }

  .example__list {
    width: 367px;
    margin: 0;

    &::before,
    &::after {
      top: -11px;
      width: 163px;
      height: 72px;
    }

    &::after {
      left: 204px;
    }
  }

  .example__item {
    &:first-child {
      margin-bottom: 11px;
    }
  }

  .example__sum {
    @include text(20px, 20px, $black);
    width: 192px;
    text-align: right;
  }

  .example__sum span {
    display: block;
    margin-top: 10px;
  }

  .example__value {
    @include text(30px, 37px, $black);
    width: 163px;
    padding-top: 5px;
  }

  .example__parameter {
    width: 142px;
    margin-left: 24px;
    font-size: 14px;
    line-height: 14px;
    background-color: $white;

    &:first-child {
      width: 114px;
      margin-right: 53px;
    }
  }

  .example__slider {
    position: relative;
    z-index: 2;
    margin-bottom: 0;
  }

  .example__slider-item {
    height: 628px;

    &:first-child {
      z-index: 3;
      left: calc(50% - 338px);
      width: 338px;
      overflow: hidden;
    }

    &:first-child::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 160px;
      background-color: $white;
    }
  }

  .example__wrapper-image {
    background-color: transparent;

    &--after {
      padding-left: 13px;
    }
  }

  .example__slider-image {
    position: relative;
    z-index: 2;
    display: block;
    max-width: 690px;
    width: 690px;
    height: 517px;
    margin: 0 auto;
  }

  .example__slider-bar {
    width: 570px;
    z-index: 2;
    margin: -94px auto 0 auto;
  }

  .example__slider-button {
    @include text(20px, 20px, $black);
    padding-bottom: 6px;
    border-bottom: 1px dotted #b8b8b8;

    &--before {
      margin-right: 472px;
    }

    &:hover,
    &:focus {
      border-bottom: 1px solid #989898;
    }

    &:active {
      border-bottom: none;
    }
  }

  .example__slider-scale {
    top: 7px;
    left: calc(50% - 214px);
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
    border: none;
  }

  .example__control {
    top: -12px;
    left: 198px;
    width: 8px;
    height: 8px;
    background-color: $green;
    border: 12px solid $white;
    box-shadow:
      0 0 0 1px $dark-grey,
      0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    box-sizing: content-box;
    cursor: pointer;

    &:hover,
    &:focus {
      box-shadow:
        0 0 0 1px $dark-grey,
        0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow:
        0 0 0 2px $green,
        0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    position: relative;
    padding-top: 0;
    padding-bottom: 67px;
    border-top: none;
  }

  .example__wrapper {
    @include container($desktop-content);
    display: flex;
  }

  .example__wrapper-desc {
    width: 570px;
    margin: 0;
  }

  .example__title {
    margin-bottom: 145px;
    padding-top: 23px;
  }

  .example__desc {
    width: 435px;
    margin-bottom: 80px;
  }

  .example__wrapper-info {
    display: block;
  }

  .example__desc,
  .example__wrapper-info {
    position: relative;
    z-index: 2;
  }

  .example__list {
    margin-bottom: 55px;
  }

  .example__parameter {
    background-color: $grey;
  }

  .example__sum {
    width: 655px;
    text-align: left;
  }

  .example__sum span {
    display: inline-block;
    margin-top: 0;
    margin-left: 60px;
  }

  .example__slider {
    margin-top: -30px;
  }

  .example__slider-item {
    position: relative;
    height: 650px;

    &:first-child {
      position: absolute;
      left: calc(50% - 328px);
      width: 355px;
    }

    &:last-child {
      left: calc(50% - 326px);
    }

    &:first-child::before {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 462px;
      background-color: $grey;
    }
  }

  .example__slider-image {
    width: 670px;
    max-width: 670px;
  }

  .example__wrapper-image {
    &--before {
      padding-left: 0;
    }

    &--after {
      padding-left: 0;
    }
  }

  .example__slider-bar {
    margin-left: 78px;
  }
}
