.example {
  @include padding-mobile;
  padding-top: 28px;
  padding-bottom: 36px;
  background-color: $grey;
}

.example__title {
  @include title;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  @include text-black;
}

.example__parameter {
  font-size: 12px;
  line-height: 12px;
}

.example__sum {
  line-height: 20px;
  @include text-black;
  text-align: center;
}

.example__slider-button {
  font-size: 16px;
  line-height: 20px;
  @include text-black;
  background-color: transparent;
  border: none;
}
