.footer {
  background-color: $grey;
}

.footer__wrapper {
  @include padding-mobile;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  padding-top: 39px;
  padding-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}

.footer__social--wrapper {
  border-bottom: 1px solid #d9d9d9;
}

.footer__social {
  @include container-mobile;
  padding-top: 21px;
  padding-bottom: 21px;
}

.footer__copyright {
  @include container-mobile;
  padding-top: 22px;
  padding-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    @include container-tablet;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 59px;
    padding-bottom: 59px;
  }

  .footer__logo {
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
    border-bottom: none;
  }

  .footer__social--wrapper {
    border-bottom: none;
  }

  .footer__social {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .footer__copyright {
    width: auto;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    @include container-desktop;
  }
}
