.footer {
  @include container($mobile-width);
  @include padding-mobile;
  display: flex;
  flex-direction: column;
  background-color: $grey;
}

.footer__logo {
  padding-top: 39px;
  padding-bottom: 28px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}

.footer__social {
  padding-top: 22px;
  padding-bottom: 17px;
  border-bottom: 1px solid #d9d9d9;
}

.social__link {
  &--vk svg {
    width: 22px;
    height: 12px;
  }

  &--inst svg {
    width: 16px;
    height: 16px;
  }

  &--fb svg {
    width: 10px;
    height: 19px;
  }
}

.footer__copyright {
  padding-top: 22px;
  padding-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .footer {
    @include container($tablet-width);
    @include padding-tablet;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 59px;
    padding-bottom: 59px;
  }

  .footer__logo {
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
    border-bottom: none;
  }

  .footer__social {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .footer__copyright {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    @include container($desktop-width);
    @include padding-desktop;
  }
}
