.form {
  @include container($mobile-width);
  margin-bottom: 33px;
}

.form__text {
  @include text(14px, 18px, $black);
  width: 270px;
  margin: 0;
  margin-bottom: 39px;
}

.form__wrapper,
.form__text {
  @include padding-mobile;
}

.form__wrapper {
  display: flex;
  align-items: center;

  &--about-cat:not(:last-child),
  &--contacts:not(:last-child) {
    margin-bottom: 14px;
  }

  &--task:not(:last-child),
  &--additionally:not(:last-child) {
    margin-bottom: 25px;
  }

  &--contacts {
    position: relative;
  }
}

.form__label {
  @include text(16px, 18px, $black-brown);
  margin-right: 16px;

  &--task,
  &--additionally {
    position: relative;
    padding-left: 45px;
    cursor: pointer;
  }

  &--task::before,
  &--additionally::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
  }

  &--task::before {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px $dark-grey;
    box-sizing: content-box;
  }

  &--additionally::before {
    width: 30px;
    height: 30px;
    border: 1px solid $dark-grey;
  }
}

.form__field-group input[type="radio"]:checked + .form__label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: $green;
  border: 8px solid $white;
  border-radius: 50%;
  box-shadow: 0 0 0 1px $dark-grey;
  box-sizing: content-box;
}

.form__field-group input[type="radio"]:hover + .form__label::before {
  box-shadow: 0 0 0 1px #bababa;
}

.form__field-group input[type="radio"]:disabled + .form__label,
.form__field-group input[type="checkbox"]:disabled + .form__label {
  opacity: 0.3;
}

.form__field-group input[type="checkbox"]:checked + .form__label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  width: 21px;
  height: 16px;
  background: url("../img/icon-tick.svg") no-repeat;
}

.form__field-group input[type="checkbox"]:hover + .form__label::before {
  border: 1px solid #bababa;
}

.form__field-group input[type="radio"]:focus + label::before,
.form__field-group input[type="checkbox"]:focus + label::before {
  outline: 5px auto -webkit-focus-ring-color;
  // outline: thin dotted;
}

.form__label[for="weight-field"] {
  margin-right: 19px;
}

.form__field-group--contacts .form__label {
  margin-right: 13px;
}

.form__label sup {
  top: -0.15em;
  font-size: 90%;
}

.form__legend {
  @include title(24px, 24px);
  display: flex;
  margin-bottom: 34px;
  padding-left: 20px;

  &::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    width: 99px;
    height: 3px;
    margin-left: 20px;
    margin-top: 14px;
    background-color: $green;
  }

  &--additionally {
    margin-bottom: 40px;
  }
}

.form__field-group {
  margin: 0;
  padding: 0;
  border: none;

  &--task {
    margin-bottom: 28px;
    padding-top: 26px;
    padding-bottom: 27px;
    border: 1px solid #ededed;
  }

  &--about-cat {
    margin-bottom: 22px;
  }

  &--contacts {
    margin-bottom: 28px;
  }

  &--additionally {
    margin-bottom: 40px;
  }
}

.form__field,
.form__textarea {
  @include text(16px, 18px, #444444);
  flex-grow: 1;
  flex-shrink: 0;
  border: 1px solid rgba($dark-grey, 0.5);

  &::placeholder {
    color: #444444;
  }

  &:hover {
    border: 1px solid $dark-grey;
  }

  &:focus {
    border: 2px solid #444444;
    outline: none;
  }

  &--error {
    border: 2px solid #ff8282;
    outline: none;
  }
}

.form__field {
  width: 170px;
  line-height: 16px;
  padding: 10px 15px 10px;

  &:focus,
  &--error {
    padding: 9px 14px 9px;
  }

  &--contacts {
    padding-right: 40px;
  }

  &--contacts:focus + .form__icon path {
    fill: $green;
  }

  &--error + .form__icon path {
    fill: #ff8282;
  }
}

.form__icon {
  position: absolute;
  right: 34px;

  &--email {
    width: 17px;
    height: 13px;
  }

  &-tel {
    width: 20px;
    height: 20px;
  }
}

.form__icon path {
  fill: $black-brown;
}

.form__textarea {
  width: 280px;
  height: 150px;
  margin-left: 20px;
  padding: 13px 12px 13px 15px;

  &:focus,
  &--error {
    padding: 12px 11px 12px 14px;
  }
}

.form__comment {
  margin-bottom: 24px;
}

.form__button {
  min-width: 280px;
  margin-bottom: 21px;
  margin-left: 20px;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.form__notice {
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.form__notice sup {
  top: -0.05em;
  font-size: 90%;
}

@media (min-width: $tablet-width) {
  .form {
    @include container($tablet-width);
    margin-bottom: 72px;
  }

  .form__text {
    @include text(20px, 30px, $black);
    width: 414px;
    margin-bottom: 65px;
    padding-right: 0;
    padding-left: 70px;
  }

  .form__wrapper-info-cat,
  .form__contacts-content,
  .form__additionally-content {
    padding-left: 70px;
    padding-right: 67px;
  }

  .form__wrapper {
    padding-right: 0;
    padding-left: 0;

    &--about-cat:not(:last-child),
    &--contacts:not(:last-child) {
      margin-bottom: 20px;
    }

    &--task:not(:last-child) {
      margin-bottom: 33px;
    }

    &--additionally:not(:last-child),
    &--additionally:last-child {
      margin-bottom: 52px;
    }

    &--additionally {
      width: 287px;
    }
  }

  .form__label {
    @include text(20px, 20px, $black-brown);

    &--task {
      padding-left: 86px;
    }

    &--additionally {
      padding-left: 58px;
    }

    &--task::before {
      top: -8px;
      left: 27px;
      width: 38px;
      height: 38px;
    }

    &--additionally::before {
      top: -10px;
      left: 0;
      width: 39px;
      height: 39px;
    }

    &[for="email-field"] {
      margin-right: 20px;
    }
  }

  .form__icon {
    right: 17px;
  }

  .form__label sup {
    top: -0.05em;
    font-size: 100%;
  }

  .form__field-group input[type="radio"]:checked + .form__label::before {
    top: -8px;
    left: 27px;
    width: 18px;
    height: 18px;
    border: 10px solid $white;
  }

  .form__field-group input[type="checkbox"]:checked + .form__label::after {
    left: 9px;
  }

  .form__legend {
    @include title(36px, 36px);
    margin-bottom: 77px;
    padding-left: 0;

    &::before {
      content: "";
      width: 30px;
      height: 3px;
      margin-right: 40px;
      margin-top: 25px;
      background-color: $green;
    }

    &::after {
      margin-left: 40px;
      margin-top: 25px;
    }

    &--additionally {
      margin-bottom: 69px;
    }
  }

  .form__field-group {
    &--about-cat,
    &--task {
      margin-bottom: 74px;
    }

    &--task {
      padding-top: 32px;
      padding-bottom: 35px;
    }

    &--contacts {
      margin-bottom: 64px;
    }

    &--additionally {
      margin-bottom: 12px;
    }
  }

  .form__field {
    padding: 10px 19px 10px;

    &:focus,
    &--error {
      padding: 9px 18px 9px;
    }
  }

  .form__field,
  .form__textarea {
    @include text(20px, 20px, #444444);
  }

  .form__textarea {
    width: 631px;
    height: 174px;
    margin-left: 70px;
    margin-right: 67px;
    padding: 15px 17px;

    &:focus,
    &--error {
      padding: 14px 16px;
    }
  }

  .form__comment {
    margin-bottom: 60px;
  }

  .form__additionally-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__wrapper-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .form__button {
    margin-bottom: 0;
    margin-left: 70px;
    margin-right: 61px;
    padding: 16px;
    min-width: 283px;
    font-size: 20px;
  }

  .form__notice {
    font-size: 16px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .form {
    @include container($desktop-width);
    margin-bottom: 83px;
  }

  .form__text {
    width: 450px;
    margin-bottom: 67px;
    padding-left: 110px;
  }

  .form__wrapper-info-cat,
  .form__contacts-content,
  .form__additionally-content {
    padding-left: 110px;
    padding-right: 110px;
  }

  .form__contacts-content,
  .form__wrapper-info-cat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__wrapper-info-cat {
    margin-bottom: 68px;
  }

  .form__legend {
    &::before {
      width: 70px;
    }
  }

  .form__comment {
    margin-bottom: 62px;
  }

  .form__textarea {
    width: 1220px;
    margin-left: 110px;
  }

  .form__field-group {
    &--about-cat,
    &--task {
      width: 570px;
      margin-bottom: 0;
    }

    &--contacts {
      margin-bottom: 66px;
    }

    &--additionally {
      margin-bottom: 19px;
    }
  }

  .form__wrapper {
    &--contacts {
      width: 570px;
    }

    &--contacts:not(:last-child),
    &--contacts:last-child {
      margin-bottom: 0;
    }

    &--additionally {
      width: 245px;
      margin-bottom: 20px;
    }

    &--additionally:not(:nth-child(2n)) {
      margin-right: 0;
    }

    &--additionally:not(:last-child) {
      margin-right: 80px;
    }
  }

  .form__button {
    margin-left: 110px;
    margin-right: 84px;
    min-width: 568px;
  }
}
