.header {
  border-bottom: 1px solid #e6e6e6;
}

.header__logo-wrapper {
  @include container(280px);
  position: relative;
  padding-top: 11px;
  padding-bottom: 11px;
}

.header__logo {
  display: block;
}

.header__logo-image {
  width: 191px;
  height: 38px;
}

@media (min-width: $tablet-width) {
  .header {
    @include container(708px);
    display: flex;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 25px;
    border-bottom: none;
  }

  .header__logo-wrapper {
    width: 192px;
    margin: 0;
    padding: 0;
  }

  .header__logo-image {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    @include container(1220px);
    position: relative;
    padding-top: 54px;
    padding-bottom: 28px;
  }

  .header__logo-wrapper {
    width: 245px;
    margin: 0;
  }

  .header__logo-image {
    width: 202px;
    height: 59px;
  }
}
