.menu {
  @include text(20px, 20px, $black);
  font-weight: 500;
}

.menu__list {
  @include reset-list;
}

.menu__item {
  padding: 22px 20px 23px;
  text-align: center;

  &:not(:last-child) {
    border-bottom: 1px solid #e6e6e6;
  }

  &:first-child {
    border-top: 1px solid #e6e6e6;
  }
}

.menu--opened .menu__item {
  &:last-child {
    border-bottom: none;
  }
}

.menu__link {
  color: $black;
}

.menu__toggle {
  @include reset-button;
  position: absolute;
  right: 20px;
  top: 21px;
  width: 24px;
  height: 18px;
}

.menu--closed .menu__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $black-brown;
    box-shadow: 0 8px 0 0 $black-brown, 0 16px 0 0 $black-brown;
  }
}

.menu--opened .menu__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 3px;
    width: 18px;
    height: 18px;
    background: url("../img/icon-close.svg") no-repeat;
  }
}

@media (max-width: $mobile-width-only) {
  .menu--closed .menu__list {
    display: none;
  }

  .menu--opened .menu__list {
    display: block;
  }

  .menu--nojs .menu__list {
    display: block;
  }

  .menu--nojs .menu__toggle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .menu {
    @include text(18px, 25px, $black-brown);
    position: relative;
    z-index: 1;
    width: 500px;
    margin-left: auto;
    font-weight: 400;
  }

  .menu__toggle {
    display: none;
  }

  .menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .menu__item {
    position: relative;
    padding: 0;
    border-bottom: none;

    &:first-child {
      border-top: none;
    }

    &:not(:last-child) {
      margin-right: 35px;
      border-bottom: none;
    }

    &--active {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 33px;
        width: 100%;
        height: 2px;
        background-color: $green;
      }
    }
  }

  .menu__link[href] {
    &:hover,
    &:focus {
      color: rgba($black, 0.6);
    }

    &:active {
      color: rgba($black, 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .menu {
    @include text(20px, 25px, $black);
    position: relative;
    z-index: 2;
    width: 610px;

    &--index {
      color: $white;
    }
  }

  .menu__item {
    &:not(:last-child) {
      margin-right: 34px;
    }
  }

  .menu__list--index .menu__item {
    &--active {
      &::after {
        background-color: $white;
      }
    }
  }

  .menu__link--index {
    color: $white;

    &[href] {
      &:hover,
      &:focus {
        color: rgba($white, 0.6);
      }

      &:active {
        color: rgba($white, 0.3);
      }
    }
  }
}
