.menu {
  @include text(20px, 20px, $black);
  font-weight: 500;
}

.menu__list {
  @include reset-list;
}

.menu__item {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;

  &:first-child {
    border-top: 1px solid #e6e6e6;
  }
}

.menu__link {
  color: $black;
}

.menu__open,
.menu__close {
  position: absolute;
  @include reset-button;
}

@media (min-width: $tablet-width) {
  .menu {
    @include text(18px, 25px, $black-brown);
    width: 500px;
    font-weight: 400;
  }

  .menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .menu__item {
    padding: 0;
    border-bottom: none;

    &:first-child {
      border-top: none;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

@media (min-width: $desktop-width) {
  .menu {
    @include text(20px, 25px, $black);
    position: relative;
    z-index: 2;
    width: 610px;

    &--index {
      color: $white;
    }
  }

  .menu__link--index {
    color: $white;
  }

  .menu__item {

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
