.page-main__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.page-main__background {
  background: $green url("../img/index-background-mobile@1x.jpg") no-repeat center top;
  background-size: cover;
}

.page-main__wrapper-text {
  @include container($mobile-content);
  min-height: 305px;
  padding-top: 26px;
  text-align: center;
}

.page-main__wrapper-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-main__wrapper-desc picture {
  order: -1;
}

.page-main__image {
  display: block;
  width: 280px;
  height: 271px;
  margin-top: -139px;
}

.page-main__button {
  min-width: 280px;
  margin-top: 2px;
  padding: 11px;
}

.page-main__title {
  @include title(36px, 36px);

  &--index {
    color: $white;
    margin-bottom: 25px;
  }

  &--catalog,
  &--form {
    @include container($mobile-content);
    padding-top: 27px;
  }

  &--catalog {
    padding-bottom: 40px;
  }

  &--form {
    margin-bottom: 37px;
  }
}

.page-main__slogan {
  @include text(14px, 14px, $white);
  width: 280px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .page-main__header {
    @include container($table-content);
    align-items: flex-start;
    margin-bottom: 0;
  }

  .page-main__background {
    background: none;
  }

  .page-main__wrapper-text {
    min-height: 0;
    padding-left: 90px;
    padding-right: 0;
    padding-top: 30px;
    margin-bottom: 48px;
    text-align: left;
    background: none;
  }

  .page-main__wrapper-desc {
    align-items: flex-start;
  }

  .page-main__wrapper-desc picture {
    order: 0;
  }

  .page-main__title {
    @include title(60px, 60px);
    width: 487px;
    margin-bottom: 41px;

    &--catalog,
    &--form {
      @include container($table-content);
      padding-top: 30px;
    }

    &--catalog {
      padding-bottom: 0;
      margin-bottom: 165px;
    }

    &--form {
      margin-bottom: 55px;
    }
  }

  .page-main__slogan {
    @include text(20px, 20px, $black);
    width: 487px;
  }

  .page-main__image {
    position: relative;
    order: 0;
    width: 709px;
    height: 609px;
    margin-top: -80px;
  }

  .page-main__button {
    position: relative;
    z-index: 2;
    min-width: 245px;
    margin-top: 0;
    margin-left: 90px;
    padding: 16px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__header {
    @include container($desktop-content);
    position: relative;
    margin-bottom: 133px;

    &::after {
      content: "";
      position: absolute;
      top: -145px;
      right: -109px;
      z-index: 0;
      width: 720px;
      height: 696px;
      background: $green url("../img/index-background-desktop@1x.jpg") no-repeat;
    }
  }

  .page-main__wrapper-text {
    width: 550px;
    margin-bottom: 53px;
    padding-left: 80px;
    padding-top: 77px;
  }

  .page-main__title {
    &--catalog,
    &--form {
      @include container($desktop-content);
    }

    &--index {
      margin-bottom: 42px;
    }

    &--catalog {
      margin-bottom: 164px;
      padding-top: 44px;
    }

    &--form {
      margin-bottom: 55px;
      padding-top: 43px;
    }
  }

  .page-main__wrapper-desc {
    position: relative;
    z-index: 1;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 80px;
  }

  .page-main__image {
    width: 552px;
    height: 499px;
    margin-top: -314px;
    margin-left: 125px;
  }

  .page-main__button {
    margin-left: 0;
  }
}
