.programs {
  @include padding-mobile;
  margin-bottom: 28px;
}

.programs__list {
  @include reset-list;
}

.programs__item {
  padding: 22px 20px 20px;
  background-color: $grey;
}

.programs__title {
  @include reset-title;
  @include text(24px, 37px, $black);
}

.programs__desc {
  margin: 0;
}

.programs__link {
  @include text(16px, 16px, $black);
}
