.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
}

.social__item {
  margin-top: 5px;
  margin-bottom: 5px;

  &:not(:last-child) {
    margin-right: 24px;
  }
}

.social__icon {
  display: block;
  margin: 0 auto;
  fill: #444444;

  &--vk {
    width: 22px;
    height: 12px;
  }

  &--inst {
    width: 16px;
    height: 16px;
  }

  &--fb {
    width: 10px;
    height: 19px;
  }
}

.social__link {
  display: block;
  width: 30px;

  &:hover .social__icon,
  &:focus .social__icon {
    fill: $green;
  }

  &:active .social__icon {
    fill: rgba($green, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .social__icon {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--inst {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
