@mixin padding-mobile {
  padding-left: 20px;
  padding-right: 20px;
}

@mixin default-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin default-title {
  margin: 0;
  font-weight: 400;
}

@mixin text-black {
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;
}

@mixin text-black-brown {
  font-family: $oswald;
  color: $black-brown;
  text-transform: uppercase;
}

@mixin title {
  margin: 0;
  font-family: $oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $black;
}

@mixin title-small {
  margin: 0;
  font-family: $oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $black;
}
